# --- FocusForge GitIgnore ---

# Arduino & ESP32 Build Files
build/
bin/
out/
*.elf
*.bin
*.map
*.hex
*.d

# IDE Specific Files
.vscode/
.arduino/
*.swp
*.swo
.gcc-flags.json

# Mac OS System Files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Hardware
*.bak
*.tmp
*.~*

# Data
secrets.h
.env
